[user]
	name = Roman Frołow
	email = rofrol@gmail.com
[core]
	editor = vim
	excludesfile = ~/projects/.configs/.global_gitignore
	attributesfile = ~/projects/.configs/.gitattributes_global
[color]
	ui = true
[alias]
	#https://git.wiki.kernel.org/index.php/Aliases
	#http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
	#http://stackoverflow.com/questions/1057564/pretty-git-branch-graphs
	#https://coderwall.com/p/euwpig
	# git -c color.status=always status | less -R -F
	st = status -sb
	ci = commit
	br = branch
	co = checkout
	logo = log --oneline --decorate
	logg = log --oneline --decorate --graph --all
	logs = log --oneline --decorate --stat

	resm = !"b=$(git symbolic-ref -q HEAD --short) && git fetch --all && git checkout master && git reset --hard origin/master && git checkout ${b}"
	pu = !"git push -u origin $(git symbolic-ref -q HEAD --short)"
	attr = !"r=$(git rev-parse --show-cdup) && echo > ${r}.gitattributes && sleep 1 && git st && git co ${r}.gitattributes && git st"
	reb = !"git rebase -i $(git merge-base --fork-point origin/master HEAD)"

	df = diff
	dc = diff --cached
	type = cat-file -t
	dump = cat-file -p
	fp = fetch --prune
[push]
	#default = current
	default = simple
[diff]
	renames = copy
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
