/*
 * https://github.com/JasonBarnabe/stylish/wiki/Applying-styles-to-specific-sites
 * http://stackoverflow.com/questions/10548472/trouble-getting-a-stylish-code-to-be-page-or-domain-specific-in-firefox/10548845#10548845
 * http://superuser.com/questions/463153/disable-stylish-on-certain-sites-in-firefox
 */
@-moz-document regexp('https?://(?!(mail\\.google\\.com|bugzilla\\.mozilla\\.org)).*') {
* {
        background-image: none !important;
}
}

@-moz-document regexp('https?://mail\\.google\\.com/.*') {
.G-atb .T-I-ax7 {
   background-image: none !important;
}
#gbqfb {
    background-color: transparent !important;
    background-image: none !important;
}
#gbqfqw {
    border: none !important;
}
.T-I-KE {
    background-color: transparent !important;
    background-image: none !important;
}
}


@-moz-document regexp('http.*//(?!(.*tektronix\\.net|.*google\\.com/maps/|.*arantech\\.com)).*') {
* {
    background-color: #002B36 !important;
    color: #839496 !important;
}
a, a *, a:link, a:link * {
    color: #1C6EA0 !important;
    text-decoration: none !important;
    border: none !important;
}
a:visited, a:visited * {
    color: #6C71C4 !important;
}
a:active, a:active * {
    color: #DC322F !important;
}

a:hover, a:hover * {
    color: #FDF6E3 !important;
    text-decoration: underline !important;
}

input {
    border: 1px solid #839496 !important;
}
}

@-moz-document regexp('http.*facebook.com/.*') {
#pageLogo {
    visibility: hidden !important;
}

}

@-moz-document regexp("about:.*") {
* {
    color: #839496 !important;
    background-color: #002B36 !important;
    text-shadow: none !important;
    background-image: none !important;
}
}

/* blank page during loading http://forums.mozillazine.org/viewtopic.php?p=5815275#p5815275 */
browser { background-color: #002B36 !important; }

.tabbrowser-tab .tab-icon-image {display:none!important;}

/* doesn't work */
#page-proxy-favicon[src*="*.ico"]{background-image:url("")!important;height:16px!important;padding-left:16px!important;width:0!important}
tab[image*="https://fbstatic-a.akamaihd.net/rsrc.php/yl/r/H3nktOa7ZMg.ic"]>image{background-image:url("newfavicon.png")!important}

/*
http://forum.userstyles.org/discussion/619/remove-favicon-from-urladdresslocation-bar/p1
http://forum.userstyles.org/discussion/2387/change-favicon-on-site/p1
*/
